.App-logo {
  height: 40vmin;
  pointer-events: none;
}
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
  .loader-tag{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-bottom: 150px;
  }
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
